* {
    font-family: 'Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 10vh;
    background-color: rgb(52, 51, 51);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: 100;
    flex-wrap: wrap;
}

header img {

    height: 10vh;
    width: auto;
    margin-left: 8%;
}

header p {
    margin-right: 15%;
    margin-top: 1.5%;
}

header a {
    margin-right: 1%;
    text-decoration: none;
    color: grey;
    font-size: small;
}
header a:hover{
    color: aliceblue;
    font-weight: bold;
}
#active{
    color: aliceblue;

}

#tickets{
    color:green;
}

footer {
    height: 12vh;
    width: 100%;
    background-color: rgb(25, 25, 49);
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    font-size: small;
}
footer a:hover{
    color: aliceblue;
    font-weight: bold;
}

.banner {

    min-height: 80vh;
    background-image: url(./assets/ba1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(52, 51, 51);
    background-blend-mode: multiply;
}


.texto-banner {
    padding-top: 15%;
    padding-bottom: 5%;
    padding-right: 12%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    color: antiquewhite;
}

.texto-banner p {
    width: 50%;
}

#oradores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#formulario p,
#texto-orador{
    text-align: start;
} 

#conoce,
#conviertete{
    margin-bottom: 0%;
    font-weight: lighter;
}

#oradores h2,
#formulario h2 {
    text-align: center;
    margin-top: 0%;
}

.card {
    margin: 1%;
}

.tema {
    display: flex;
    flex-direction: row;
    gap:3%;
    text-align: center;
    padding: 0;
    height: 1.2rem;
    align-content: center;
     font-size: smaller;
     margin-bottom: 2%;
}

#js {
    background-color: rgb(255, 234, 0);
    width: 35%;
    border-radius: 8%;
    font-weight: 700;    
}

#react {
    background-color: rgb(7, 193, 187);
    color: antiquewhite;
    width: 20%;
    border-radius: 8%;
    font-weight: 700;
    
}

#negocios {
    background-color: grey;
    color: antiquewhite;
    width: 30%;
    border-radius: 8%; 
    font-weight: 700;
}

#startups {
    background-color: rgb(156, 11, 11);
    color: antiquewhite;
    width: 25%;
    border-radius: 8%;
    font-weight: 700;
    
}

#carouselExampleAutoplaying {
    width: 100%;
    min-height: 10%;
    margin-bottom: 2%;
}

#slides {
    display: flex;
    flex-direction: row;
}

#slides img {
    width: 480px;
    height: 270;
}

.texto {
    color: antiquewhite;
    background-color: rgb(52, 51, 51);
    padding: 2%;
    padding-top: 1%;
}
.texto h3{
    font-weight: bold;
}

#formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

#submit{
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgb(2, 162, 2);
    color: antiquewhite;
    font-weight: 600;
    border-color: rgb(2, 162, 2);
}
#submit:hover{
    background-color: rgb(35, 177, 35);
    font-weight: bolder;
}
#titulo{
    font-size: smaller;
}

@media screen and (max-width:576px) {
    #oradores {
        align-items: center;
        width: 80%;

    }

    #oradores .card {
        margin-left: 25%;

    }
}

@media screen and (min-width:768px) {
    #oradores {
        width: 80%;
        margin-left: 10%;
    }

}